Bash
# Archivos a NO subir a Git
data/*.csv
data/*.xlsx
*.pyc
__pycache__/
*.egg-info/
dist/
build/
venv/
env/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
.env
.streamlit/secrets.toml
outputs/
*.log
.cache/
